/**
 * Settings for all stars.
 */
.fivestar-smiley32 div.fivestar-widget-static .star,
.fivestar-smiley32 div.fivestar-widget .star,
.fivestar-smiley32 div.fivestar-widget div.on a {
  height: 32px;
  padding-right: 6px;
}

/**
 * Unique default setting for each star.
 */
.fivestar-smiley32 div.fivestar-widget .star-1,
.fivestar-smiley32 div.fivestar-widget .star-1 a,
.fivestar-smiley32 div.fivestar-widget-static .star-1,
.fivestar-smiley32 div.fivestar-widget-static .star-1 span.on,
.fivestar-smiley32 div.fivestar-widget .star-2,
.fivestar-smiley32 div.fivestar-widget .star-2 a,
.fivestar-smiley32 div.fivestar-widget-static .star-2,
.fivestar-smiley32 div.fivestar-widget-static .star-2 span.on {
  width: 32px;
  background-image: url(smiley-1.png);
}
.fivestar-smiley32 div.fivestar-widget .star-3,
.fivestar-smiley32 div.fivestar-widget .star-3 a,
.fivestar-smiley32 div.fivestar-widget-static .star-3,
.fivestar-smiley32 div.fivestar-widget-static .star-3 span.on,
.fivestar-smiley32 div.fivestar-widget .star-4,
.fivestar-smiley32 div.fivestar-widget .star-4 a,
.fivestar-smiley32 div.fivestar-widget-static .star-4,
.fivestar-smiley32 div.fivestar-widget-static .star-4 span.on {
  width: 32px;
  background-image: url(smiley-2.png);
}
.fivestar-smiley32 div.fivestar-widget .star-5,
.fivestar-smiley32 div.fivestar-widget .star-5 a,
.fivestar-smiley32 div.fivestar-widget-static .star-5,
.fivestar-smiley32 div.fivestar-widget-static .star-5 span.on,
.fivestar-smiley32 div.fivestar-widget .star-6,
.fivestar-smiley32 div.fivestar-widget .star-6 a,
.fivestar-smiley32 div.fivestar-widget-static .star-6,
.fivestar-smiley32 div.fivestar-widget-static .star-6 span.on {
  width: 32px;
  background-image: url(smiley-3.png);
}
.fivestar-smiley32 div.fivestar-widget .star-7,
.fivestar-smiley32 div.fivestar-widget .star-7 a,
.fivestar-smiley32 div.fivestar-widget-static .star-7,
.fivestar-smiley32 div.fivestar-widget-static .star-7 span.on,
.fivestar-smiley32 div.fivestar-widget .star-8,
.fivestar-smiley32 div.fivestar-widget .star-8 a,
.fivestar-smiley32 div.fivestar-widget-static .star-8,
.fivestar-smiley32 div.fivestar-widget-static .star-8 span.on {
  width: 32px;
  background-image: url(smiley-4.png);
}
.fivestar-smiley32 div.fivestar-widget .star-9,
.fivestar-smiley32 div.fivestar-widget .star-9 a,
.fivestar-smiley32 div.fivestar-widget-static .star-9,
.fivestar-smiley32 div.fivestar-widget-static .star-9 span.on,
.fivestar-smiley32 div.fivestar-widget .star-10,
.fivestar-smiley32 div.fivestar-widget .star-10 a,
.fivestar-smiley32 div.fivestar-widget-static .star-10,
.fivestar-smiley32 div.fivestar-widget-static .star-10 span.on {
  width: 32px;
  background-image: url(smiley-5.png);
}

/**
 * Some specific settings for the 5-star count version.
 */
.fivestar-smiley32 div.fivestar-widget-5 .star-2,
.fivestar-smiley32 div.fivestar-widget-5 .star-2 a,
.fivestar-smiley32 div.fivestar-widget-static-5 .star-2,
.fivestar-smiley32 div.fivestar-widget-static-5 .star-2 span.on {
  width: 32px;
  background-image: url(smiley-2.png);
}
.fivestar-smiley32 div.fivestar-widget-5 .star-3,
.fivestar-smiley32 div.fivestar-widget-5 .star-3 a,
.fivestar-smiley32 div.fivestar-widget-static-5 .star-3,
.fivestar-smiley32 div.fivestar-widget-static-5 .star-3 span.on {
  width: 32px;
  background-image: url(smiley-3.png);
}
.fivestar-smiley32 div.fivestar-widget-5 .star-4,
.fivestar-smiley32 div.fivestar-widget-5 .star-4 a,
.fivestar-smiley32 div.fivestar-widget-static-5 .star-4,
.fivestar-smiley32 div.fivestar-widget-static-5 .star-4 span.on {
  width: 32px;
  background-image: url(smiley-4.png);
}
.fivestar-smiley32 div.fivestar-widget-5 .star-5,
.fivestar-smiley32 div.fivestar-widget-5 .star-5 a,
.fivestar-smiley32 div.fivestar-widget-static-5 .star-5,
.fivestar-smiley32 div.fivestar-widget-static-5 .star-5 span.on {
  width: 32px;
  background-image: url(smiley-5.png);
}

/**
 * Dynamic rollovers.
 */
.fivestar-smiley32 div.fivestar-widget-static .star span.off {
  background: none;
}
.fivestar-smiley32 div.fivestar-widget-static .star span.on,
.fivestar-smiley32 div.fivestar-widget-static .star span.on a,
.fivestar-smiley32 div.fivestar-widget div.on a {
  background-position: 0 -64px;
}
.fivestar-smiley32 div.fivestar-widget div.hover a,
div.rating div a:hover {
  background-position: 0 -32px;
}
.fivestar-smiley32 div.fivestar-widget-static .star span.off {
  background-position: 0 0;
}

/**
 * Cancel button.
 */
.fivestar-smiley32 div.fivestar-widget .cancel,
.fivestar-smiley32 div.fivestar-widget .cancel a {
  width: 32px;
  height: 32px;
  background: url(smiley-cancel.png) no-repeat 0 0;
}
.fivestar-smiley32 div.fivestar-widget .cancel a:hover {
  background-position: 0 -32px;
}
